.App {
  text-align: center;
}

body {
  background-color: rgb(228, 223, 235);
}

#nav {
  height: 70px;
  font-size: 40pt;
  font-family: 'Amatic SC', cursive;;
  display: flex;
  justify-content: flex-end;
  align-content: space-between;
}

#navText {
  color: black;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

#navText:hover {
  text-decoration: underline;
  font-size: 45pt;
}