.home {
    font-family: 'Coming Soon', cursive;
    font-size: 60pt;
    font-weight: bold;
    color: rgb(101, 101, 101);
    margin-top: 100px;
}

p {
    font-family: 'Coming Soon', cursive;
    font-size: 20pt;
    margin-top: 100px;
}